---

---

<section class="contact-box">
  <div class="contact-box-img">
    <img src="../../src/assets/images/main/contact-box.jpg" alt="" />
  </div>
  <div class="contact-box-content">
    <h3>Get in <span class="italic">Touch</span></h3>
    <p>
      Interested in lessons, programs, or event music? We’d love to hear from
      you.
    </p>
    <ul>
      <li>
        <img src="../../public/location.svg" alt="" /> Serving Grand Rapids & surrounding
        areas
      </li>
      <li>
        <img src="../../public/Phone.svg" alt="" />
        <a href="tel:+(312) 889-3508">(312) 889-3508</a>
      </li>
      <li>
        <img src="../../public/email.svg" alt="" />
        <a href="mailto:music.rccmc@gmail.com">music.rccmc@gmail.com</a>
      </li>
    </ul>
  </div>
</section>
