---
import { Image } from 'astro:assets'
import logo from '../assets/images/main/Logo2.svg'
import location from '../../src/assets/icons/location.svg'
import phone from '../../src/assets/icons/phone.svg'
import email from '../../src/assets/icons/email.svg'
import { emoji } from 'astro:schema'
---

<footer>
  <div class="content">
    <a href="/"><Image src={logo} alt="River City Strings" /></a>
    <p>Professional violin and viola instruction, youth ensembles, and live event music in Grand Rapids, Michigan.</p>
  </div>
  <div class="links">
    <span>Quick Links</span>
    <ul>
      <!-- <li><a href="/">Home</a></li> -->
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/private-lessons">Private Lessons</a></li>
      <li><a href="/youth-strings">Youth Strings</a></li>
      <li><a href="/chamber-music">Chamber Music</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/contact" class="nav-cta">Contact</a></li>
    </ul>
  </div>
  <div class="contact">
    <ul>
      <li>
        <!-- <img src="/location.svg" alt="" /> -->
        <Image src={location} alt="" />
        Serving Grand Rapids & surrounding areas
      </li>
      <li>
        <!-- <img src="/phone.svg" alt="" />  -->
        <Image src={phone} alt="" />
        <a href="tel:+1(616)822-6252">(616) 822-6252</a>
      </li>
      <li>
        <!-- <img src="/email.svg" alt="" /> -->
        <Image src={email} alt="" />
        <a href="mailto:rivercityys@gmail.com">rivercityys@gmail.com</a>
      </li>
    </ul>
  </div>
</footer>
