.container {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 40px 80px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 430px) {
  .container {
    padding: 20px;
  }
}

.btn {
  padding: 12px 26px;
  border-radius: 4px;
  font: var(--font-p2);
  width: fit-content;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: var(--rich-navy);
  color: var(--ivory);
  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  background: var(--mist-gray);
  margin-right: 40px;
  color: var(--rich-navy);
}

.btn-secondary {
  background: var(--golden-beige);
  color: var(--rich-navy);
}

.cta {
  font: var(--font-p2);
  color: var(--rich-navy);
  font-weight: 800;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--dusty-rose);
  }
}

.italic {
  font-style: italic;
  font-weight: 200;
  color: var(--rich-navy);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(76, 175, 80, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
  }
}

.status-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;

  & .indicator-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
  }

  & .indicator-dot.active {
    background-color: #4caf50;
    box-shadow: 0 0 8px #4caf50;
    animation: soft-pulse 2s infinite;
  }

  & .indicator-dot.busy {
    background-color: #ff4d4d;
    box-shadow: 0 0 8px #ff4d4d;
    animation: soft-pulse 2s infinite;
  }

  & .status-label {
    font: var(--font-p1);
    color: var(--rich-navy)
  }
}

@keyframes soft-pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.contact-box {
  display: flex;
  gap: 40px;
  padding: 0px 80px;
  margin: 80px 200px;
  background: linear-gradient(var(--rich-navy) 90%, white 20%);
  & .contact-box-img {
    max-width: 400px;
  }
  & .contact-box-content {
    padding-top: 80px;
    & h3,
    p,
    li,
    a,
    .italic {
      color: var(--ivory);
    }
    & h3 {
      font: var(--font-h3);
    }
    & p {
      font: var(--font-p2);
      padding: 20px 140px 40px 0;
    }
    & ul li {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-bottom: 20px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      & img {
        height: 40px;
        width: 30px;
      }
    }
  }
}

@media (max-width: 1070px) {
  .contact-box {
    margin: 80px 80px;
    & .contact-box-content {
      padding-top: 40px;
      & p {
        padding: 20px 0;
      }
      & ul li {
        & img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .contact-box {
    padding: 0px 40px;
    margin: 40px 40px 80px 40px;
    & .contact-box-img {
      max-width: 300px;
    }
  }
}

@media (max-width: 440px) {
  .contact-box {
    gap: 10px;
    padding: 0px 20px;
    margin: 10px 10px 40px 10px;
    & .contact-box-content {
      padding-top: 5px;
      & h3 {
        font: var(--font-h4);
      }
      & p {
        padding: 10px 0;
        width: 124px;
      }
      & ul li {
        gap: 10px;
        padding-bottom: 10px;
        & img {
          height: 10px;
          width: 10px;
        }
      }
    }
  }
}

.page-hero {
  & .hero-content {
    text-align: center;
  }
  & img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
}
